# OSX
.DS_Store

# Node
node_modules

# Logs
*.log

post-req

.npmrc
#ignore folders at any depth
test/
f2/
#folder and its all files
/test2
#delete all text files in next level of folder, but not futher!
/test3/*.txt
#ignore all files in folder at any depth
/test4/**/*.txt